<%= render 'shared/navigation' %>

<div class="welcome">
<div class="welcome">
  <h2 class="hello">Hello<h1><%= current_user.name %></h1></h2>
  <h2 class="display-3">Welcome to the Recipe App</h2>
</div>

</div>