@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque;
  color: black;
}

.devise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 3%;
}

.devise-container > h2 {
  margin-bottom: 20px;
}

.devise-container input {
  width: 24em;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.actions input {
  border-radius: 5px;
  background: rgb(2, 177, 2);
  border: 0;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.devise-container input:hover {
  border: 1px solid rgb(182, 176, 176);
}

.devise-container label {
  color: black;
  text-align: center;
}

.devise-container a {
  color: black;
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
